html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 530px;
    min-height: 530px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1em;
    opacity: 1;
}

.deck .card {
    height: 100px;
    width: 100px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 40px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
.score-panel .restart span {
  margin-right: 15px;
}
.play-button {
  width: 30%;
  margin: 0px auto 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  cursor: pointer;

}
.play-button:focus,
.play-button:hover {
box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.1);
background: linear-gradient(160deg, #aa7ecd 0%, #02ccba 100%);
/*font-size: 30px;*/
transition: 0.2s box-shadow ease-in-out,
            0.2s background-color ease-in-out,
            0.2s border-color ease-in-out
            /*0.3s font-size ease-in-out;*/
}

* .hidden {
  visibility: hidden;
}
/* Style for timer panel */
.timer-win-lose {
  margin: auto;
}
.elpasedTime .time {
  min-width: 15px;
  align-items: center;
}

/* Style win-or-lose section */
* .noVisible {
  display: none;
}

.result-deck, .welcome-deck {
  width: 400px;
  min-height: auto;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;

  text-align: center;
  position: absolute;
  top: 300px;
  z-index: 1;
}
.welcome-deck h1{
  font-size: 2em;
}
.message-win-lose, .message-welcome-pane {
  display: block;
  text-align: center;
  width: 390px;
}
/*.win-or-lose .score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;*/

@media only screen and (max-width: 750px) {
  .deck {
      width: 500px;
      min-height: 520px;
  }

  .deck .card {
      height: 90px;
      width: 90px;
  }

}
@media only screen and (max-width: 550px) {
  .deck {
      width: 350px;
      min-height: 350px;
  }

  .deck .card {
      height: 65px;
      width: 65px;
  }
  .score-panel {
    width: 290px;
  }
}
@media only screen and (max-width: 410px) {
  .deck {
      width: 310px;
      min-height: 310px;
  }

  .deck .card {
      height: 56px;
      width: 56px;
  }
  .score-panel {
    width: 270px;
  }
}
@media only screen and (max-width: 320px) {
  .deck {
      width: 275px;
      min-height: 275px;
      padding: 15px;
  }

  .deck .card {
      height: 55px;
      width: 55px;
  }
  .score-panel {
    width: 200px;
  }
}
